﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Client.cshtml";
}
<div style="margin-bottom:30px">
    <a style="font-size:20px" href="/Home/Index">Trang chủ /</a>
    <b style="font-size:20px">
        @foreach (var item in @ViewBag.ctsp)
        {
            @item.Name
        }
    </b>
    <hr />
</div>



<div class="row">
    <div class="col-6">
        <div class="container">
            <div style="text-align:center; margin:5px">
                @foreach (var item in @ViewBag.ctsp)
                {
                    <a data-fancybox="Gallery" href="@item.Image">
                    <img src="@item.Image" style="width:90%;height:90%" alt="Lỗi ảnh"/></a>
                }
            </div>
            <div class="row" style="text-align:center; margin:5px">

                @foreach (var item in @ViewBag.img)
                {
                    <div class="col-3" style="border:2px solid #dedede">
                        <a data-fancybox="Gallery" href="@item.Image">
                            <img src="@item.Image" style="width:90%;height:90%"  alt="Lỗi ảnh"/>
                        </a>
                    </div>
                }

            </div>
        </div>


        @if (ViewBag.count == 0)
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="col" style="margin-top: 5px; font-size: 40px; color: red; font-weight: bolder">Cháy hàng!</div><br /><br />
            </div>
        }
        else
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="container">
                    <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                        <div class="col">
                            Màu sắc
                        </div>
                    </div>
                    <div class="row" style="text-align:center; margin-top:5px;margin-bottom:10px; font-weight:bolder">
                        @foreach (var i in ViewBag.color)
                        {
                            <div class="col">
                                <a style="font-size:20px">@i.Color (@*@i.Quantity*@Còn)</a>
                                <a href="/_clientCart/Add_To_Card?key=@i.ID_Product_Color" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                    <div class="col">
                        @foreach (var i in ViewBag.ID_pro)
                        {
                            <a href="/_clientFavoriteList/Add?key=@i.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                margin-right: 10px;border-radius:20px; color:red">+ <i class="fa fa-heart"></i> </a>
                        }
                        @*@foreach (var item in ViewBag.ID_pro)
                            {
                                <div class="col">
                                    <a href="/_clientCart/Add_To_Card?key=@item.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                               </div>
                            }*@
                        @foreach (var i in ViewBag.ctsp)
                        {
                            <a href="/_clientBill/Buy?key=@i.ID" style="border:10px solid orange; background-color:orange;font-weight:bold;
                        margin-left: 10px;border-radius:20px; color:white">Mua ngay</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-6">
        <div style="margin-left:5px">
            @foreach (var item in @ViewBag.ctsp)
            {
                <r style="color:red;font-size:30px; font-weight:bolder">$ @string.Format("{0:#,##0}", @item.Promotion_Price)đ</r><br />
                <r style="font-size:20px;font-weight:bold">$Giá gốc: </r><i style="font-size:20px;text-decoration:line-through;">@string.Format("{0:#,##0}", @item.Price)đ</i><br />
                <i style="font-size:16px"> @item.Description</i><br />
                <i style="font-size:16px"> Bảo hành @item.Warranty!</i><br /><br /><br />
                <r style="font-size:20px"> CPU: <r style="font-size:15px; border:2px solid orange"> @item.CPU</r></r><br /><br />
                <r style="font-size:20px"> RAM: <r style="font-size:15px; border:2px solid orange"> @item.RAM</r></r><br /><br />
                <r style="font-size:20px"> GPU: <r style="font-size:15px; border:2px solid orange"> @item.GPU</r></r><br /><br />
                <r style="font-size:20px"> Ổ cứng: <r style="font-size:15px; border:2px solid orange"> @item.ROM</r></r><br /><br />
                <r style="font-size:20px"> Màn hình: <r style="font-size:15px; border:2px solid orange"> @item.Monitor</r></r><br /><br />
                <r style="font-size:20px"> Pin: <r style="font-size:15px; border:2px solid orange"> @item.Pin</r></r><br /><br />
                <r style="font-size:20px"> Kích thước: <r style="font-size:15px; border:2px solid orange"> @item.Size</r></r><br /><br />
                <r style="font-size:20px"> Cân nặng: <r style="font-size:15px; border:2px solid orange"> @item.Weight</r></r><br /><br />

                <r style="font-size:16px">
                    <br />
                    Xem chi tiết khái niệm hàng Refurbished <br />
                    ✅Bảo hành 12 tháng LaptopTheKy            <br />
                    ✅Giá ở trên chưa bao gồm 10% VAT       <br />
                    ✅ MIỄN PHÍ GIAO HÀNG TẬN NHÀ           <br />
                    - Với đơn hàng < 4.000.000 đồng: Miễn phí giao hàng cho đơn hàng < 5km tính từ cửa hàng LaptopTheKy <br />
                    - Với đơn hàng > 4.000.000 đồng: Miễn phí giao hàng (khách hàng chịu phí bảo hiểm hàng hóa nếu có) <br />
                </r><br /><br />
            }
        </div>
    </div>
</div>