﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thế Kỷ - Cửa hàng buôn bán Laptop uy tín</title>

    <link rel="shortcut icon" type="image/png" href="~/Content/image/LogoLap.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/client/css/family=open+san.css" rel="stylesheet" />
    <link href="~/Content/client/css/Family=muli.css" rel="stylesheet" />
    <link href="~/Content/client/css/flag-icon.css" rel="stylesheet" />
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">*@
    <link href="~/Content/client/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style_menu.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/css/mystyle.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/client/css/jquery.fancybox.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#hoverimg').mouseover(function () {
                $('#div_gen').fadeIn(500);
            }).mouseout(function () {
                $('#div_gen').fadeOut(500);
            });
        });
    </script>
    <script>
        function editmk() {
            var mkcu = $("#passcu").val();
            var mk1 = $("#passmoi1").val();
            var mk2 = $("#passmoi2").val();
            @*if (mkcu == "") {
                alert('Bạn cần nhập mật khẩu');
            }*@
            if (mk1!=mk2) {
                alert('Bạn cần nhập mật khẩu mới giống nhau');
            }
        }
    </script>
</head>
<body>
    <!-- Header Section Begin -->
    <header class="header-section" style="margin-top:-50px;margin-bottom:20px">
        <div class="header-top" style="border:10px solid orange;font-size:15px; background-color:orange; margin-bottom:10px;">
            <div class="col-2">
            </div>
            <div class="col-1">
                <i class="fa fa-phone" style="color:blue;text-align:right"> 0965149500</i>
            </div>
            <div class="col-2">
                <i class="fa fa-envelope" style="color:blue"> dotheky1999@gmail.com</i>
            </div>
            <div class="col-3">

            </div>
            <div class="col-2" style="color:gray;text-align:right">
                <a href="https://www.facebook.com/boy.over.520" rel="nofollow" target="_blank" style="margin-right:20px">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="http://google.com" rel="nofollow" target="_blank" style="margin-right:20px">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="http://twitter.com" rel="nofollow" target="_blank" style="margin-right:20px">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="http://vk.com" rel="nofollow" target="_blank" style="margin-right:20px">
                    <i class="fa fa-vk"></i>
                </a>
                <a href="https://www.instagram.com/dotheky1999/" rel="nofollow" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="mail-service" style="width:180px">
                            <i><a href="#"><img src="~/Content/image/LogoLap.png" alt="Laptop Thế Kỷ"></a></i>
                            <p style="text-align:center">laptoptheky.vn</p>
                        </div>
                    </div>
                    <div class="col-4" style="text-align:center">
                        <br />
                        <p>Laptop Thế Kỷ</p>
                        <p><b>Uy tín tạo thương hiệu</b></p>
                        <p><b>Địa chỉ:</b> 33 Phú Đô - Nam Từ Liêm - Hà Nội</p>
                    </div>
                    <div class="col-4" style="text-align: right">
                        <br />
                        <p>
                            @{
                                if (Session["User"] == null)
                                {
                                    <div class="row" style=" margin-top: 16px;">
                                        <div class="col" style="text-align: center">
                                            <br />
                                            <br />
                                            <a href="/_clientLogin/Index" style="font-size:17px;color:black;margin-left:190px"><i class="fa fa-lock">Đăng nhập</i></a>
                                        </div>
                                        <div class="col" style="text-align: center">
                                            <br />
                                            <br />
                                            <a href="/_clientLogin/register" style="font-size:17px;color:black;margin-left:16px"><i class="fa fa-lock">Đăng ký</i></a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <nav class="nav-menu mobile-menu" style="margin-top: 40px;">
                                        <div class="row">
                                            <div class="col" style="text-align: center">
                                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black;width: 165px;text-align:center">
                                                    <i class="fa fa-lock">@Session["Name"].ToString()</i>
                                                </a>
                                                <ul class="dropdown-menu" style="border-top:10px solid #e6e6e6;border-bottom:10px solid #e6e6e6;top:34px;
                                                margin-left: 15px;right: 13px;text-align:center ;background-color:#e6e6e6">
                                                    <li>
                                                        <a href="/_clientCustomer/AccountDetail" style="font-size:17px;font-family:'Times New Roman', Times, serif">Thông tin tài khoản</a>
                                                    </li>
                                                    <li>
                                                        <a href="/_clientFavoriteList/Index" style="font-size:17px;font-family:'Times New Roman', Times, serif">Danh sách yêu thích</a>
                                                    </li>
                                                    <li>
                                                        <a href="/_clientLogin/logout" style="font-size:17px;font-family:'Times New Roman', Times, serif">Đăng xuất</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col">

                                                <a href="/_clientLogin/logout" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                   style="font-size:17px;width: 155px;font-family:'Times New Roman', Times, serif">Đổi mật khẩu</a>
                                                <ul class="dropdown-menu" style="border-top:10px solid #e6e6e6;border-bottom:10px solid #e6e6e6;top:34px;
                                                        margin-left: 15px;right: 13px;text-align:center ;background-color:#e6e6e6">
                                                    <li style="text-align:center">
                                                        <form action="/_clientCustomer/DoiMK" method="post">
                                                            <input required="" type="text" class="form-control" style="width:150px;margin-left:2px" name="passcu" placeholder="Mật khẩu cũ" />
                                                            <input required="" type="text" class="form-control" name="passmoi1" id="passmoi1" placeholder="Mật khẩu mới" style="margin-top:10px;margin-bottom:10px;width:150px;margin-left:2px" />
                                                            <input required="" type="text" class="form-control" style="width:150px;margin-left:2px" name="passmoi2" id="passmoi2" placeholder="Nhập lại mật khẩu mới" />
                                                            <button type="submit" style="margin-top:10px;background-color:cornflowerblue;
                                                                    border:1px solid cornflowerblue;border-radius:20px" onclick="editmk()">
                                                                Đổi mật khẩu
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                }
                            }


                        </p>
                    </div>
                    <div class="col-1">
                        <br />
                        <br />
                        <br />
                        <br /><p>
                            <a href="/_clientCart/Index" class="fa fa-shopping-cart" style="color:black; font-size:17px;margin-left:-18px;margin-top: 4px;"> Giỏ hàng</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <nav class="nav-menu mobile-menu">
                    <ul style="background-color:#31b3e4">
                        <li class="col-2" style="left:-9px">
                            <a href="/Home/Index" style="color:black;width:200px;border-left:10px">
                                <i class="fa fa-home"></i>&nbsp;&nbsp;Trang chủ
                            </a>
                        </li>
                        @*Sản phẩm*@
                        <li class="col-2">
                            <a style="color:black;width:200px">
                                <i class="fa fa-laptop"></i>&nbsp;&nbsp;Sản phẩm
                            </a>
                            <ul class="dropdown" style="left:15px;font-size:17px;text-align:center ;background-color:orange">
                                <li>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color:black">Hãng</a>
                                    <ul class="dropdown-menu" style="left:200px;right:-150px;top:0px; background-color:orange ;font-size:17px;text-align:center">
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=Acer">Acer</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=Asus">Asus</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=Dell">Dell</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=HP">HP</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=Macbook">Macbook</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=MSI">MSI</a></li>
                                        <li><a style="color:black" href="/_clientProductDetail/brand?brand=Lenovo">Lenovo</a></li>
                                    </ul>
                                </li>
                                <li><a style="color:black" href="/_clientProductDetail/phanloai?group=Học tập - Văn phòng">Học tập - Văn phòng</a></li>
                                <li><a style="color:black" href="/_clientProductDetail/phanloai?group=Đồ họa - Kỹ thuật">Đồ họa - Kỹ thuật</a></li>
                                <li><a style="color:black" href="/_clientProductDetail/phanloai?group=Laptop Gaming">Laptop Gaming</a></li>
                                <li><a style="color:black" href="/_clientProductDetail/phanloai?group=Cao cấp - Sang trọng">Cao cấp - Sang trọng</a></li>
                            </ul>
                        </li>
                        <li class="col-2">
                            <a href="/_clientNew/Index" style="color:black;width:200px;text-align:center"><i class="fa fa-android"></i>&nbsp;&nbsp;Tin tức</a>

                        </li>
                        <li class="col-2">
                            <a href="#" style="color:black;width:200px;text-align:center">
                                <i class="fa fa-address-book"></i>&nbsp;&nbsp;Blog
                            </a>
                        </li>
                        <li class="col-2" style="width: 246px">
                            <a style="color:black;width:200px;text-align:center">
                                <i class="fa fa-briefcase"></i>&nbsp;&nbsp;Cẩm nang
                            </a>
                            <ul class="dropdown" style="left:15px;font-size:17px;text-align:center ;background-color:orange">
                                <li><a style="color:black" href="/_clientBill/Bill_cus">Lịch sử mua hàng</a></li>
                                <li><a style="color:black" href="/_clientFavoriteList/Index">Danh sách yêu thích</a></li>
                                <li><a style="color:black" href="#">Tra cứu bảo hành</a></li>
                            </ul>
                        </li>
                        <li class="col-2">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color:black;width:188px;text-align:center">
                                <i class="fa fa-search"></i>&nbsp;&nbsp;Tìm kiếm
                            </a>
                            <ul class="dropdown-menu" style="width: 250px;border-top:2px solid #e6e6e6;border-radius:10px; border-bottom: 7px solid #e6e6e6; left: -46px; right: -18px; text-align: center; background-color: #e6e6e6">
                                <li style="width:250px">
                                    <form action="/_clientProductDetail/product" method="post">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <input style="height:30px; border-radius:15px; width:160px" autofocus required="" class="form-control" placeholder="Nhập sản phẩm cần tìm" type="text" name="key" />
                                                </div>
                                                <div class="col">
                                                    <button type="submit" style="height:30px; width:30px; border-radius:15px; background-color:#31b3e4; border-color:#31b3e4">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>

    </header>

    <!-- Header End -->
    <div class="container-fluid body-content">
        <div class="container">
            @RenderBody()

        </div>
        <div style="top:-100px">
            <a id="hoverimg" class="back-to-top" href="#" style="font-size:100px;top:75%;left:95%;position:relative; position:fixed">
                <img id="hoverimg" src="~/Content/client/top.png" />
                @*<i class="fa fa-angle-up"></i>*@
                @*<span><div id="div_gen" style="display:none; top:5px;left:155px; width:150px">Ẩn/Hiện mật khẩu</div></span>*@

            </a>
        @*<a class="end" href="#" style="font-size:100px;top:75%;left:95%;position:relative; position:fixed">
            <img src="https://freetuts.net/public/tool/top.png" />
        </a>*@
        </div>
        <footer class="footer-section" style="margin-top:-50px">

            <hr />
            <div class="footer-top">
                <div class="privacy">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="background-color:aliceblue; margin:5px;border-radius:10px;margin-left: 20px;">
                                <div class="row">
                                    <div class="col" style="text-align-last:left">
                                        <img src="~/Content/client/image/ico-service-1221b.png" style="width:100px;height:100px;margin-top: 14px;" />
                                    </div>
                                    <div class="col" style="margin-left: -162px; margin-top: 25px;">
                                        <h3>Giao hàng miễn phí</h3>
                                        <p>Miễn phí giao hàng trong nội thành Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="background-color:aliceblue; margin:5px;border-radius:10px">
                                <div class="row">
                                    <div class="col" style="text-align-last:left">
                                        <img src="~/Content/client/image/ico-service-2221b.png" style="width:100px;height:100px;margin-top: 14px;" />
                                    </div>
                                    <div class="col" style="margin-left: -162px; margin-top: 25px;">
                                        <h3>Khuyến mại</h3>
                                        <p>Khuyến mại sản phẩm nếu đơn hàng trên 20.000.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="background-color:aliceblue; margin:5px;border-radius:10px;margin-right: 20px;">
                                <div class="row">
                                    <div class="col" style="text-align-last:left">
                                        <img src="~/Content/client/image/ico-service-3221b.png" style="width:100px;height:100px;margin-top: 14px;" />
                                    </div>
                                    <div class="col" style="margin-left: -162px; margin-top: 13px;">
                                        <h3>Hoàn trả lại tiền</h3>
                                        <p>Nếu sản phẩm không đảm bảo chất lượng hoặc sản phẩm không đúng miêu tả</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row" style="margin-top:30px">
                        <div class="col-3" style="text-align:left;font-size:20px">
                            <b>THÔNG TIN CÔNG TY</b>
                            <p style="text-align:left;font-size:15px;margin-top:10px">
                                LaptopTheKy.vn<br />
                                CÔNG TY CỔ PHẦN THẾ KỶ  <br />
                                Số 33 Phú Đô, Phường Phú Đô, Quận Nam Từ Liêm, Thành phố Hà Nội, Việt Nam<br />
                                SĐT: 0965.149.500 <br />
                                Email: dotheky1999@gmail.com<br />
                                Website: laptoptheky.vn<br />
                                Mã số doanh nghiệp: 0108529423, cấp lần đầu ngày 10/01/2018<br />
                                Sở KHĐT TP. Hà Nội cấp
                            </p>
                        </div>
                        <div class="col-3" style="text-align:left;font-size:20px">
                            <b>VỀ LAPTOP THẾ KỶ</b>
                            <p style="text-align:left;font-size:15px;margin-top:10px">
                                Giới thiệu chung<br />
                                Chăm sóc khách hàng<br />
                                * Hotline: 0965.149.500<br />
                                * Thời gian: 24/7<br />
                                * Email: dotheky1999@gmail.com<br />
                                Liên hệ<br />
                            </p>
                        </div>
                        <div class="col-3" style="text-align:left;font-size:20px">
                            <b>CHÍNH SÁCH</b>
                            <p style="text-align:left;font-size:15px;margin-top:10px">
                                Chính sách mua hàng từ xa<br />
                                Chính sách đặt cọc sản phẩm<br />
                                Chính sách giao nhận - đổi trả<br />
                                Chính sách bảo hành<br />
                                Chính sách bảo mật thông tin<br />
                                Thỏa thuận sử dụng và quy định giao dịch chung<br />
                            </p>
                        </div>
                        <div class="col-3" style="text-align:left;font-size:20px">
                            <b>THANH TOÁN</b>
                            <p style="text-align:left;font-size:15px;margin-top:10px">
                                Thanh toán trực tuyến (Internet Banking)<br />
                                Thanh toán khi nhận hàng (COD)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-reserved" style="background-color:orange;border:5px solid orange;border-bottom:20px solid orange;">
                <div class="col-lg-12">
                    <div class="copyright-text" style="color:white">
                        Bản quyền &copy; LaptopTheKy.vn
                    </div>
                    <div class="footer-social" align="right" style="padding-left:200px">
                        <a href="https://www.facebook.com/boy.over.520" style="color:white" target="_blank"><i class="fa fa-facebook" style="font-size:15px">  FACEBOOK </i></a>&nbsp;&nbsp;
                        <a href="https://www.instagram.com/dotheky1999/" style="color:white" target="_blank"><i class="fa fa-instagram" style="font-size:15px">  INSTAGRAM </i></a>&nbsp;&nbsp;
                        <a href="https://twitter.com/" style="color:white" target="_blank"><i class="fa fa-twitter" style="font-size:15px" target="_blank">  TWITTER </i></a>&nbsp;&nbsp;
                        <a href="https://www.pinterest.com/dotheky1999/" style="color:white"target="_blank"><i class="fa fa-pinterest" style="font-size:15px" target="_blank">  PINTEREST </i></a>
                    </div>
                    <div class="payment-pic">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="~/Content/client/js/jquery.fancybox.min.js"></script>
</body>
</html>
