﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Form thêm sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body pad">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="text-align:center; width:100%">Form thêm sản phẩm</h3>
                </div>
                <form method="post" action="/product/Create">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr align="center">
                                    <th>Tên sản phẩm</th>
                                    <th>ID hãng</th>
                                    <th>Phân loại</th>
                                    <th>Mô tả</th>
                                    <th>Giá gốc</th>
                                    <th>Giá khuyến mại</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền tên sản phẩm" name="Ten">
                                    </td>
                                    <td>
                                        <input required="" type="text" name="ID_Hang" list="dl">
                                        <datalist id="dl">
                                            @foreach (var item in ViewBag.brand)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </datalist>
                                    </td>
                                    <td>
                                        <input required="" type="text" name="Phanloai" list="dl1">
                                        <datalist id="dl1">
                                            <option value="Học tập - Văn phòng">Học tập - Văn phòng</option>
                                            <option value="Đồ họa - Kỹ thuật">Đồ họa - Kỹ thuật</option>
                                            <option value="Laptop Gaming">Laptop Gaming</option>
                                            <option value="Cao cấp - Sang trọng">Cao cấp - Sang trọng</option>
                                        </datalist>
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền mô tả" name="MoTa">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền giá gốc" name="Pri">
                                    </td>
                                    <td>
                                        <input required="" type="text" @*pattern="{0-9}" title="Bạn cần nhập giá trị số"*@ class="form-control" placeholder="Điền giá KM" name="Pro_Price">
                                    </td>
                                    

                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Avatar</th>
                                    <th>CPU</th>
                                    <th>GPU</th>
                                    <th>RAM</th>
                                    <th>ROM</th>
                                    <th>Màn hình</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền link ảnh" name="Anh">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền CPU" name="CPU">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền GPU" name="GPU">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền RAM" name="RAM">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền ROM" name="ROM">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền màn hình" name="Moni">
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Hệ điều hành</th>
                                    <th>Bảo hành</th>
                                    <th>Pin</th>
                                    <th>Kích thước</th>
                                    <th>Cân nặng</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền hệ điều hành" name="Ope">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền thời hạn bảo hành" name="Warr">
                                    </td>                                    
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền pin" name="pin">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền kích thước" name="size">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền cân nặng" name="weight">
                                    </td>
                                    <td style="text-align:center">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <h3 style="text-align:center; color:red">@ViewBag.test</h3>
            </div>
            
            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header"  style="background-color:sandybrown">
                    <h3 class="card-title" style=" text-align:center; width:100%">Thông tin 3 sản phẩm được thêm gần nhất</h3>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>Tên</th>
                                <th>ID hãng</th>
                                <th>Phân loại</th>
                                <th>Mô tả</th>
                                <th>Giá gốc</th>
                                <th>Giá khuyến mại</th>
                                <th>Avatar</th>
                                <th>CPU</th>
                                <th>GPU</th>
                                <th>RAM</th>
                                <th>ROM</th>
                                <th>Màn hình</th>
                                <th>Hệ điều hành</th>
                                <th>Bảo hành</th>
                                <th>Pin</th>
                                <th>Kích thước</th>
                                <th>Cân nặng</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX" align="center">
                                    <td>@item.Name</td>
                                    <td>@item.ID_Brand</td>
                                    <td>@item.Group_Pro</td>
                                    <td>@item.Description</td>
                                    <td>@item.Price</td>
                                    <td>@item.Promotion_Price</td>
                                    <td><img src="@item.Image" width="100" height="100" /></td>
                                    <td>@item.CPU</td>
                                    <td>@item.GPU</td>
                                    <td>@item.RAM</td>
                                    <td>@item.ROM</td>
                                    <td>@item.Monitor</td>
                                    <td>@item.Operating</td>
                                    <td>@item.Warranty</td>
                                    <td>@item.Pin</td>
                                    <td>@item.Size</td>
                                    <td>@item.Weight</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit_cre", new { id = item.ID })
                                        @*<i class="fa fa-trash-o" fa-fw></i>@Html.ActionLink("Sửa", "Edit_cre", new { id = item.ID })
                    <i class="fa fa-pencil fa-fw"></i>@Html.ActionLink("Xóa", "Delete_cre", new { id = item.ID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<select name="a">
                        @foreach (var item in Model)
                        {

                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>*@
                    </div>
            </div>
        </div>
    </div>
</div>